<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.zerok.container">

    <application
        android:label="Zerok"
        android:allowBackup="false">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
